@mixin vendor-prefix($name, $argument) {
  @each $prefix in -webkit-, -khtml-, -moz-, -ms-, -o-, '' {
    #{$prefix}#{$name}: #{$argument};
  }
}

%button {
  @include vendor-prefix("border-radius", "4px");
  border: 1px solid $red;
  font-size: 18px;
  font-weight: 400;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}